name: Bot PR

on:
  # It would only run at any events which be triggered by bot, i.e., GitHub dependency bot, for guarantee that the
  # change doesn't affect anything of source code.
  pull_request_review:
    types:
      - submitted
    branches:
  # Disabled this CI workflow for now. Need to improve it.
#      - "master"

env:
  PR_NUMBER: 0
  PR_WAITING_TIME: 1200    # 60 seconds * 20 minutes

#permissions:
#  pull-requests: write

jobs:
  auto-merge-pr:
#    name: Run all tests and organize all test reports
    permissions: write-all
    runs-on: ubuntu-latest
    if: ${{ ( github.event.review.state == 'approved' ) && ( contains(github.event.pull_request.labels.*.name, 'dependencies') ) }}
    name: Auto-merge PR if it waits for long time
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Sleep for 20 minutes
#        run: sleep $PR_WAITING_TIME
        run: sleep 10    # Just for testing

      - name: Merge target PR if it still doesn't be merged
        shell: bash
        run: |
          set -exm
          bash ./scripts/ci/chk_pr_list.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
